
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background: linear-gradient(to right, #42275a, #734b6d)
}

.card{
    background: linear-gradient(to right, #141e30, #243b55) !important;
}

h1{
    text-align: center; 
    margin-top: 2.5rem; 
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}

.demo-title{
    margin-top: -0.8rem;
    font-size: .8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.list-text,
td{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    padding: 0 .5rem;
}

form{
    margin-top: 3rem;
}

#myChart{
    display: none;
    margin-bottom: 4rem;
}

canvas{
    background-color: #000;
}
